* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Roboto";
}

header {
  background: #5c4f4a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 2rem;
}

header h1 {
  color: #ede9e6;
  font-size: 4rem;
}

main {
  background: #ede9e6;
  padding: 4rem 8rem;
  min-height: 80vh;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  background: #5c766d;
  padding: 1vh 1vw;
  border-radius: 2rem;
  min-width: 10rem;
}

.book-title {
  color: #ede9e6;
  font-size: 2rem;
  font-weight: 900;
}

.book-card {
  display: flex;
  flex-direction: column;
  border: solid 4px #5c4f4a;
  border-radius: 2rem;
  background: #c9996b;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 5% 5%;
}

.book-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.read-button {
  color: #5c4f4a;
  rotate: -20deg;
  border-radius: 0.2rem;
  font-size: 1rem;
  padding: 0.3rem;
  cursor: pointer;
  font-weight: 500;
  font-style: italic;
}

.not-read {
  background: #ffffb8;
  color: #880708;
  opacity: 50%;
}

.read {
  background: #6ebe6e;
  color: #eee9e6;
}

#edit {
  rotate: 0deg;
}

#add-book-button {
  color: #eee9e6;
  height: 4rem;
  width: auto;
  cursor: pointer;
}

#remove-book-button {
  color: #880808;
  height: 2rem;
  width: auto;
  cursor: pointer;
}

#button-card > * {
  outline: none;
}

#button-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#book-confirm {
  height: 2rem;
  width: auto;
  cursor: pointer;
  color: #5b756d;
}

#book-cancel {
  height: 2rem;
  width: auto;
  cursor: pointer;
  color: #880708;
}

.book-edit {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.placeholder {
  opacity: 50%;
}

.book-author {
  color: #ede9e6;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 500;
}

.book-pages {
  color: #ede9e6;
  font-size: 1rem;
  font-weight: 900;
}

hr {
  width: 100%;
}

footer {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.copyright {
  font-size: 1rem;
}
